In [1]:
import geopandas as gpd
import pandas as pd

In [13]:
gdfa = gpd.read_file('../data/ggw_h3_l5.geojson') # polygons
gdfb = gpd.read_file('../data/ggw_h3_l6_GADM_attr.geojson') # points
gdfc = gdfb.sjoin(gdfa, how="right", predicate="within")

In [14]:
gdfc

,index_left0,index_left,fid,NAME_0,NAME_1,NAME_2,NAME_3,index_right,geometry
0,109761,866b30157ffffff,41760.0,Chad,Batha,Fitri,Ouled-Rachid,856b3017fffffff,"POLYGON ((19.55689 15.37232, 19.55605 15.27985..."
0,109814,866b3014fffffff,41760.0,Chad,Batha,Fitri,Ouled-Rachid,856b3017fffffff,"POLYGON ((19.55689 15.37232, 19.55605 15.27985..."
0,109827,866b3015fffffff,41760.0,Chad,Batha,Fitri,Ouled-Rachid,856b3017fffffff,"POLYGON ((19.55689 15.37232, 19.55605 15.27985..."
0,109875,866b30147ffffff,41760.0,Chad,Batha,Fitri,Ouled-Rachid,856b3017fffffff,"POLYGON ((19.55689 15.37232, 19.55605 15.27985..."
0,110189,866b30177ffffff,41760.0,Chad,Batha,Fitri,Ouled-Rachid,856b3017fffffff,"POLYGON ((19.55689 15.37232, 19.55605 15.27985..."
...,...,...,...,...,...,...,...,...,...
36853,204319,865509d2fffffff,206130.0,Mauritania,Adrar,Chinguetti,None,855509d3fffffff,"POLYGON ((-9.42162 21.5089, -9.48956 21.44212,..."
36853,204398,865509d0fffffff,206130.0,Mauritania,Adrar,Chinguetti,None,855509d3fffffff,"POLYGON ((-9.42162 21.5089, -9.48956 21.44212,..."
36853,206055,865509d37ffffff,206130.0,Mauritania,Adrar,Chinguetti,None,855509d3fffffff,"POLYGON ((-9.42162 21.5089, -9.48956 21.44212,..."
36853,206528,865509d27ffffff,206130.0,Mauritania,Adrar,Chinguetti,None,855509d3fffffff,"POLYGON ((-9.42162 21.5089, -9.48956 21.44212,..."
36853,207017,865509d17ffffff,206130.0,Mauritania,Adrar,Chinguetti,None,855509d3fffffff,"POLYGON ((-9.42162 21.5089, -9.48956 21.44212,..."

In [15]:
gdfc.to_file('../data/h3/ggw_h3_l5_GADM.geojson', driver='GeoJSON')